
<div *ngIf="marketClient">
    <h2><span jhiTranslate="flowersApp.marketClient.detail.title">Market Client</span> {{marketClient.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="flowersApp.marketClient.market">Market</span></dt>
        <dd>
            <div *ngIf="marketClient.market">
                <a [routerLink]="['/market', marketClient.market?.id]">{{marketClient.market?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="flowersApp.marketClient.client">Client</span></dt>
        <dd>
            <div *ngIf="marketClient.client">
                <a [routerLink]="['/client', marketClient.client?.id]">{{marketClient.client?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market-client/'+ marketClient.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
