.tabs-margin {
	margin: 0 70.5px 9px 0;
	height: 100vh;
	background-color: #FFFFFF !important;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}


.show{
	margin-left: 244px;
}

.hide {
 	margin-left: 63px;
}
