<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPinchVarietyLabel" jhiTranslate="flowersApp.pinchVariety.home.createOrEditLabel">Create or edit a Pinch Variety</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pinchVariety.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pinchVariety.id" readonly />
        </div>

        <div class="form-group">
            <label jhiTranslate="flowersApp.pinchVariety.pinch" for="field_pinch">Pinch</label>
            <select class="form-control" id="field_pinch" name="pinch" [(ngModel)]="pinchVariety.pinch" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pinchOption.id === pinchVariety.pinch?.id ? pinchVariety.pinch : pinchOption" *ngFor="let pinchOption of pinches; trackBy: trackPinchById">{{pinchOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="flowersApp.pinchVariety.variety" for="field_variety">Variety</label>
            <select class="form-control" id="field_variety" name="variety" [(ngModel)]="pinchVariety.variety" >
                <option [ngValue]="null"></option>
                <option [ngValue]="varietyOption.id === pinchVariety.variety?.id ? pinchVariety.variety : varietyOption" *ngFor="let varietyOption of varieties; trackBy: trackVarietyById">{{varietyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
