.air-line-modal-window .modal-content {
    margin-top: 161px;
    width: 375px;
    background-color: white;
    border-radius: 0.0rem;
}

.air-line-delete-modal-window .modal-content {
    margin-top: 161px;
    width: 500px;
    background-color: white;
    border-radius: 0.0rem;
}

.air-line-modal-window .modal-dialog {
    width: 375px;
}

