<div class="box-type-block">
    <h2>
        <span class="title" jhiTranslate="flowersApp.box-type.home.title">Farm Box Types List</span>
    </h2>
    <div style=" margin-top: 35px; overflow: auto; height: 625px" >
        <div *ngFor="let market of markets; trackBy: trackId">
            <div class="separation-border">
                <div class="box-border">
                    <div class="before-controls">
                        <span class="short-name-block">
                            <span class="fa fa-flag" [style.color]="market.colorClass"></span>
                        </span>
                        <span class=" line-separator"></span>
                        <span class="full-name-block">
                                {{market.name}}
                        </span>
                    </div>
                    <div class="float-left">
                        <div class="edit-block"
                              [routerLink]="['/', { outlets: { popup: 'market/'+ market.id + '/edit'} }]" replaceUrl="true"
                              >
                            <span class="fa fa-pencil edit-delete-icons"></span>
                            <span class="delete-span" jhiTranslate="entity.action.edit">Edit</span>
                        </div>

                        <span class="vertical-separator"></span>
                        <div class="delete-block"
                             [routerLink]="['/', { outlets: { popup: 'market/'+ market.id + '/delete'} }]"
                        >
                            <span class="fa fa-trash-o edit-delete-icons"></span>
                            <span class="delete-span" jhiTranslate="entity.action.delete">Delete</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <span class="separation-border">
                <span class="box-border">
                    <span class="fa fa-plus-square-o add-button" [routerLink]="['/', { outlets: { popup: 'market-new' } }]"></span>
                </span>
        </span>
    </div>
</div>
