<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMarketLabel" jhiTranslate="flowersApp.market.home.createOrEditLabel">Create or edit a Market</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!market.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="market.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.market.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="market.name"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="flowersApp.market.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="market.company" >
                <option [ngValue]="null"></option>
                <option [ngValue]="comapnyOption.id === market.company?.id ? market.company : comapnyOption" *ngFor="let comapnyOption of comapnies; trackBy: trackComapnyById">{{comapnyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="flowersApp.market.boxGroups" for="field_boxGroups">Box Groups</label>
            <select class="form-control" id="field_boxGroups" multiple name="boxGroups" [(ngModel)]="market.boxGroups">
                <option [ngValue]="getSelected(market.boxGroups, boxGroupOption)" *ngFor="let boxGroupOption of boxgroups; trackBy: trackBoxGroupById">{{boxGroupOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
