

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLabel" jhiTranslate="flowersApp.employee.home.createOrEditLabel">Create or edit a Employee</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.employee.firstName" for="field_firstName">First name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                   [(ngModel)]="employee.firstName"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.employee.secondName" for="field_secondName">Second name</label>
            <input type="text" class="form-control" name="secondName" id="field_secondName"
                   [(ngModel)]="employee.secondName"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.employee.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                   [(ngModel)]="employee.email"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.employee.skype" for="field_skype">Skype</label>
            <input type="text" class="form-control" name="skype" id="field_skype"
                   [(ngModel)]="employee.skype"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.employee.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="mobilePhone" id="field_phone"
                   [(ngModel)]="employee.phone"
            />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.employee.whatsUp" for="field_whatsUp">WhatsUp</label>
            <input type="text" class="form-control" name="whatsUp" id="field_whatsUp"
                   [(ngModel)]="employee.whatsUp"
            />
        </div>
        <div class="form-group">
            <label jhiTranslate="flowersApp.employee.positions">Positions</label>
        </div>

        <!--<div class="form-group">-->
            <!--<label jhiTranslate="flowersApp.employee.positions">Positions</label>-->
            <!--<select class="form-control" multiple name="positions" [(ngModel)]="employee.positions">-->
                <!--<option *ngFor="let position of positions; trackBy: trackPositionById" [value]="position">{{ position.name }}</option>-->
            <!--</select>-->
        <!--</div>-->
<!--
        <div class="form-group">
            <label jhiTranslate="flowersApp.employee.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="employee.companyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.mainName}}</option>
            </select>
        </div>

        -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
