<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMarketBoxLabel" jhiTranslate="flowersApp.marketBox.home.createOrEditLabel">Create or edit a Market Box</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!marketBox.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="marketBox.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.marketBox.width" for="field_width">Width</label>
            <input type="number" class="form-control" name="width" id="field_width"
                [(ngModel)]="marketBox.width"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.marketBox.height" for="field_height">Height</label>
            <input type="number" class="form-control" name="height" id="field_height"
                [(ngModel)]="marketBox.height"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.marketBox.length" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                [(ngModel)]="marketBox.length"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.marketBox.unit" for="field_unit">Unit</label>
            <select class="form-control" name="unit" [(ngModel)]="marketBox.unit" id="field_unit" >
                <option value="mm" jhiTranslate="flowersApp.BoxSizeUnit.mm">mm</option>
                <option value="m" jhiTranslate="flowersApp.BoxSizeUnit.m">m</option>
                <option value="cm" jhiTranslate="flowersApp.BoxSizeUnit.cm">cm</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="flowersApp.marketBox.market" for="field_market">Market</label>
            <select class="form-control" id="field_market" name="market" [(ngModel)]="marketBox.market" >
                <option [ngValue]="null"></option>
                <option [ngValue]="marketOption.id === marketBox.market?.id ? marketBox.market : marketOption" *ngFor="let marketOption of markets; trackBy: trackMarketById">{{marketOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="flowersApp.marketBox.boxType" for="field_boxType">Box Type</label>
            <select class="form-control" id="field_boxType" name="boxType" [(ngModel)]="marketBox.boxType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="boxTypeOption.id === marketBox.boxType?.id ? marketBox.boxType : boxTypeOption" *ngFor="let boxTypeOption of boxtypes; trackBy: trackBoxTypeById">{{boxTypeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
