<div>
    <h2>
        <span jhiTranslate="flowersApp.paymentPolicy.home.title">Payment Policies</span>
        <button class="btn btn-primary float-right create-payment-policy" [routerLink]="['/', { outlets: { popup: ['payment-policy-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="flowersApp.paymentPolicy.home.createLabel">
            Create new Payment Policy
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paymentPolicies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="flowersApp.paymentPolicy.name">Name</span></th>
            <th><span jhiTranslate="flowersApp.paymentPolicy.company">Company</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentPolicy of paymentPolicies ;trackBy: trackId">
                <td><a [routerLink]="['../payment-policy', paymentPolicy.id ]">{{paymentPolicy.id}}</a></td>
                <td>{{paymentPolicy.name}}</td>
                <td>
                    <div *ngIf="paymentPolicy.company">
                        <a [routerLink]="['../company', paymentPolicy.company?.id ]" >{{paymentPolicy.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payment-policy', paymentPolicy.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-policy/'+ paymentPolicy.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-policy/'+ paymentPolicy.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
