
<div *ngIf="paymentPolicy">
    <h2><span jhiTranslate="flowersApp.paymentPolicy.detail.title">Payment Policy</span> {{paymentPolicy.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="flowersApp.paymentPolicy.name">Name</span></dt>
        <dd>
            <span>{{paymentPolicy.name}}</span>
        </dd>
        <dt><span jhiTranslate="flowersApp.paymentPolicy.company">Company</span></dt>
        <dd>
            <div *ngIf="paymentPolicy.company">
                <a [routerLink]="['/company', paymentPolicy.company?.id]">{{paymentPolicy.company?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payment-policy/'+ paymentPolicy.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
