<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientPaymentPolicyLabel" jhiTranslate="flowersApp.clientPaymentPolicy.home.createOrEditLabel">Create or edit a Client Payment Policy</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientPaymentPolicy.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientPaymentPolicy.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.clientPaymentPolicy.termsInDays" for="field_termsInDays">Terms In Days</label>
            <input type="number" class="form-control" name="termsInDays" id="field_termsInDays"
                [(ngModel)]="clientPaymentPolicy.termsInDays"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.clientPaymentPolicy.termsInSum" for="field_termsInSum">Terms In Sum</label>
            <input type="number" class="form-control" name="termsInSum" id="field_termsInSum"
                [(ngModel)]="clientPaymentPolicy.termsInSum"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flowersApp.clientPaymentPolicy.status" for="field_status">Status</label>
            <input type="checkbox" class="form-control" name="status" id="field_status"
                [(ngModel)]="clientPaymentPolicy.status"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="flowersApp.clientPaymentPolicy.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="clientPaymentPolicy.client" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === clientPaymentPolicy.client?.id ? clientPaymentPolicy.client : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="flowersApp.clientPaymentPolicy.paymentPolicy" for="field_paymentPolicy">Payment Policy</label>
            <select class="form-control" id="field_paymentPolicy" name="paymentPolicy" [(ngModel)]="clientPaymentPolicy.paymentPolicy" >
                <option [ngValue]="null"></option>
                <option [ngValue]="paymentPolicyOption.id === clientPaymentPolicy.paymentPolicy?.id ? clientPaymentPolicy.paymentPolicy : paymentPolicyOption" *ngFor="let paymentPolicyOption of paymentpolicies; trackBy: trackPaymentPolicyById">{{paymentPolicyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
